
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: aliceblue;
}
header{
    background-color: black;
    height: 60px;
}
nav ul{
    list-style-type: none;
}
li a{
    font-weight: bolder;
    text-decoration: none;
    color: white;
}
.text-center{
    align-items: center;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    min-height: calc(100vh - 40px - 60px);
}
span{
    margin: 0 4vh;
    font-size: 100px;
}
small{
    font-size: large;
    font-weight: lighter;
}
.mains{
    height: 30vh;
}
.reset{
    background-color: red;
    border: 2px solid black;
    border-radius: 90px;
    padding: 1vh;
}
.stop{
    background-color: yellow;
    border: 2px solid black;
    border-radius: 90px;
    padding: 1vh;
}
.start{
    background-color: green;
    border: 2px solid black;
    border-radius: 90px;
    padding: 1vh;
}
button{
    margin: 8vh 6vw;
    cursor: pointer;
}

footer p{
    background-color: black;
    color: white;
    font-weight: bold;
    height: 40px;
}